.slider-banner {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slide {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

/* Slide animation for the "next" direction */
.slide.next {
    animation: slideInNext 0.5s forwards;
}

@keyframes slideInNext {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Slide animation for the "prev" direction */
.slide.prev {
    animation: slideInPrev 0.5s forwards;
}

@keyframes slideInPrev {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.text-content {
    flex: 1;
    padding: 20px;
}

.image-content {
    flex: 1;
    text-align: right;
}

.image-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots styling */
.dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}