.n-wrapper {
    display: flex;
    justify-content: center;
    background: var(--main-color);
    height: 50px;
    padding: 20px;
}

.n-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown-container,
.res-dropdown-container {
    position: relative;
    width: 20%;
}

.dropdown-button,
.res-dropdown-button {
    background-color: var(--second-color);
    color: #fff;
    padding: 15px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon,
.res-dropdown-icon {
    font-size: 16px;
}

.dropdown-menu,
.res-dropdown-menu {
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-bottom: 0;
    border-top: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu-item a,
.res-dropdown-menu-item a {
    padding: 13px;
    border-bottom: 1px solid #eee;
    color: var(--gray-text);
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu-item:hover,
.res-dropdown-menu-item:hover {
    background-color: #f5f5f5;

}

/* =================================*/
.navlinks {
    width: 50%;
    display: flex;
    justify-content: center;
}

.navlinks ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navlinks li {
    position: relative;
}

.navlinks a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

.navlinks li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    list-style: none;
    z-index: 1000;
}

.navlinks .active {
    color: #fff;
    border-radius: 5px;
}

.navlinks li:hover ul {
    display: block;
}

.navlinks li ul li {
    width: 200px;
}

.navlinks li ul li a {
    padding: 10px;
    display: block;
    color: var(--gray-text);
    font-size: 14px;
    text-decoration: none;
}

.navlinks li ul li:hover {
    background-color: #f5f5f5;
}

.contact-number {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 16px;
}

.contact-number span {
    margin-left: 10px;
}

.res-dropdown-container {
    display: none;
}

.res-dropdown-menu-item:last-child {
    padding: 10px 15px;
    font-size: 12px;
    color: var(--gray-text);
}

.res-dropdown-menu-item:last-child span {
    margin-left: 8px;

}

.res-dropdown-menu-item:last-child:hover {
    background-color: #f5f5f5;

}

@media (max-width:1045px) {
    .dropdown-container {
        width: 30%;
    }

    .navlinks {
        width: 60%;
    }

    .navlinks a {
        padding: 10px;
    }
}

@media (max-width:880px) {
    .dropdown-container {
        width: 27%;
    }

    .dropdown-button {
        font-size: 13px;
        padding: 8px;
    }

    .dropdown-icon svg {
        padding-left: 5px;
    }

    .navlinks {
        width: 50%;
    }



    .navlinks a {
        padding: 0;
        font-size: 15px;
    }

    .navlinks li ul {
        left: 20px;
    }

    .contact-number {
        width: 17%;
    }

    .contact-number span {
        font-size: 13px;
        margin-left: 5px;
    }
}

@media (max-width:750px) {
    .res-dropdown-container {
        display: block;
    }

    .navlinks {
        display: none;
    }

    .contact-number {
        display: none;
    }

    .dropdown-container {
        width: 35%;
    }

    .res-dropdown-container {
        width: 35%;
    }

    .res-dropdown-button {
        justify-content: center;
    }

    .res-dropdown-icon {
        margin-right: 10px;
    }
}

@media (max-width:540px) {
    .n-wrapper {
        padding: 0;
    }

    .dropdown-container {
        width: 50%;
    }

    .res-dropdown-container {
        width: 40%;
    }

    .dropdown-icon {
        font-size: 12px;
    }
}